* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 10px;
    height: 100vh;
}

.header {
    grid-column: 1 / -1;
    background-color: rgb(255, 115, 0);
    text-align: center;
    padding: 20px;
}

.small-box-1 {
    background-color: rgb(255, 115, 0);
    text-align: center;
    padding: 20px;
    grid-column: 1 / 2;
}

.small-box-2 {
    background-color: rgb(255, 115, 0);
    text-align: center;
    padding: 20px;
    grid-column: 2 / 3;
}

.small-box-3 {
    background-color: rgb(255, 115, 0);
    text-align: center;
    padding: 20px;
    grid-column: 3 / 4;
}

.sidebar {
    background-color: rgb(255, 115, 0);
    text-align: center;
    padding: 20px;
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}

.main {
    background-color: rgb(255, 115, 0);
    text-align: center;
    padding: 20px;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.footer {
    grid-column: 1 / -1;
    background-color: rgb(255, 115, 0);
    text-align: center;
    padding: 20px;
}
